body {
    color: white;
    background-color: black;
}
img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.intro h1,
.intro p {
    text-align: center;
}
#randomStory, #storyAnimal {
    text-align: center;
    font-size: 35px;
    color: white;
}
